.single{  
  .header{
    margin-bottom: 0px;
  }
  .page-container{
    background-color: #f2f2f2;
    &>.row-divide >.col-divide-8 {
      padding: 0px;
    }
    .col-divide-6{
      flex: 0 0 52%;
      max-width: 52%;
      @include MediaQuery($md){
        flex: auto;
      max-width: 100%;
      }
      background: #fff;
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 40px;
    }
    .single__page-content{      
      pre,a{
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, post millennium */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
      }
      iframe{
        width: 100%;
        margin: 15px auto;
      }
      padding-bottom: 30px;
      padding-top: 15px;
      border-top: 1px solid #e7e7e7;
      h2{
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        margin: 20px 0 10px;
        text-align: left;
        padding: 10px 16px;
      }
      h3{
        margin: 10px 0 15px;
        color: #38434b;
        padding: 5px 0 5px 10px;
        border-left: 6px solid #38434b;
        border-bottom: 1px solid #d4d4d4;
        font-size: 15px;
      }
      img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 5px;
        padding: 5px 15px;
      }
      .wp-caption-text{
        text-align: center;
        font-size: 13px;
        font-style: italic;
      }
      table{
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        td, th{
          padding: 15px 5px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          border-radius: 2px;
        }
        thead{
          color: var(--primary-color);
          tr{
            border-bottom: none;
          }
        }
        tbody{
          &>tr:nth-child(odd){
            background-color: rgba(242,242,242,0.5)
          }
        }
      }
      ul{
        padding-left: 30px;
        padding-bottom: 12px;
        list-style: none;
        li{
          position: relative;
          &::after{
            content: "•";
            display: block;
            font-size: 20px;
            position: absolute;
            left: -16px;
            top: 0px;
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .menuCategory{
    .menuCategory__contain{
      .title--section{
        background: #38434b;
        color: #fff;
        padding: 5px 5px 5px 10px;
        font-size: 18px;
      }
      .menuCategory__list{
        .menuCategory__item{
          background-color: #fff;
          color: #2d8acb;
          transition: .3s;
          display: block;
          font-size: 15px;
          padding: 7px 8px 9px;
          overflow: hidden;
          width: 100%;
          border-top: 1px solid #cbdff9;
          &:nth-child(1){
            border-top: unset;
          }
        }
      }
    }
  }
  .menuRanking {
    &__content {
        .app-ranking {
            .row-divide {
                .col-divide-12 {
                    .app-ranking__list {
                        &-contain {
                            .app-ranking__item {
                                &-contain {
                                    .app-ranking__description {
                                        display: block;
                                        .title--item,
                                        .app--star {
                                            font-size: 12px;
                                            @media screen and (max-width: 1360px) {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
}
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px; 
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.single{
  .mc-mb-fix{
    @include MediaQuery($xs){
      display: none;
    }
  }
}
.gamewiki__post-related {
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px #a7a0a04d;
  &-container {
      .row-divide {
          .gamewiki__post-popular,
          .gamewiki__post-new {
              border-bottom: 1px solid var(--blue-color-tag-a);
              .tab-item {
                  display: block;
                  color: #565656;
                  background: #d9d9d9;
                  height: 100%;
                  font-size: 17px;
                  font-weight: 700;
                  text-align: center;
                  cursor: pointer;
                  padding: 5px 0;
                  &.active {
                      background: var(--blue-color-tag-a);
                      color: #fff;
                  }
                  @media screen and (max-width:1360px) {
                      font-size: 12px;
                  }
              }
          }
      }
      .gamewiki__post-container {
          .tab-content {
              border: 1px solid #cfcfcf;
              .gamewiki__post-tong-hop-item {
                  padding: 7px;
                  border-bottom: 1px solid #cfcfcf;
                  &:nth-last-child(1) {
                      border-bottom: 0;
                      text-align: center;
                      font-size: 18px;
                      a {
                          color: var(--blue-color-tag-a);
                          font-weight: 700;
                          font-size: 15px;
                          display: block;
                          @media screen and (max-width: 1360px) {
                              font-size: 12px;
                          }
                          @media screen and (max-width:1080px) {
                              font-size: 13px;
                          }
                      }
                  }
                  .row-divide {
                      .gamewiki__tong-hop-item--feature {
                          .ranking-post {
                              top: -10%;
                              left: -5px;
                              width: 20px;
                              height: 20px;
                              text-align: center;
                              color: #fff;
                              font-size: 13px;
                              z-index: 1;
                              &-item {
                                  @for $i from 1 to 3 {
                                      &-#{1} {
                                          background: #eebf65;
                                      }
                                      &-#{2} {
                                          background: #8aa8b4;
                                      }
                                      &-#{3} {
                                          background: #e18e4a;
                                      }
                                  }
                                  background:#999696;
                                  display:block;
                                  border-radius: 50%;
                              }
                          }
                          a {
                              &:after {
                                  content: '';
                                  background: #fff;
                                  width: 100%;
                                  height: 100%;
                                  position: absolute;
                                  top: 0;
                                  left: 0;
                                  opacity: 0;
                                  transition: all .3s ease-in-out;
                              }
                          }
                          img {
                              transition: all .3s ease-in-out;
                              height: 100%;
                              display: block;
                          }
                      }
                      .gamewiki__tong-hop-item--content {
                          a {
                              
                              color: var(--blue-color-tag-a);
                              font-weight: 700;
                              @media screen and (min-width: 768px) {
                                  font-size: 12px;
                              }
                          }
                      }
                  }
                  &:hover {
                      .row-divide {
                          .gamewiki__tong-hop-item--feature {
                              a {
                                  &:after {
                                      opacity: 0.8;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
.gamewiki__post-related {
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 1px 2px 0px #a7a0a04d;
  &-container {
      .row-divide {
          .gamewiki__post-popular,
          .gamewiki__post-new {
              border-bottom: 1px solid var(--blue-color-tag-a);
              .gamewiki__tab-item {
                  display: block;
                  color: #565656;
                  background: #d9d9d9;
                  height: 100%;
                  font-size: 17px;
                  font-weight: 700;
                  text-align: center;
                  cursor: pointer;
                  padding: 5px 0;
                  &.active {
                      background: var(--blue-color-tag-a);
                      color: #fff;
                  }
              }
          }
      }
      .gamewiki__post-container {
          .gamewiki__tab-content {
              border: 1px solid #cfcfcf;
              .gamewiki__post-tong-hop-item {
                  padding: 7px;
                  border-bottom: 1px solid #cfcfcf;
                  &:nth-last-child(1) {
                      border-bottom: 0;
                      text-align: center;
                      font-size: 18px;
                      a {
                        white-space: inherit;
                          color: var(--blue-color-tag-a);
                          font-weight: 700;
                      }
                  }
                  .row-divide {
                      .gamewiki__tong-hop-item--feature {
                        a{
                          white-space: inherit;
                        }
                          .ranking-post {
                              top: -5%;
                              left: -5px;
                              width: 20px;
                              height: 20px;
                              text-align: center;
                              color: #fff;
                              font-size: 13px;
                              z-index: 1;
                              
                              &-item {
                                  @for $i from 1 to 3 {
                                      &-#{1} {
                                          background: #eebf65;
                                      }
                                      &-#{2} {
                                          background: #8aa8b4;
                                      }
                                      &-#{3} {
                                          background: #e18e4a;
                                      }
                                  }
                                  background:#999696;
                                  display:block;
                                  border-radius: 50%;
                              }
                          }
                          a {
                              &:after {
                                  content: '';
                                  background: #fff;
                                  width: 100%;
                                  height: 100%;
                                  position: absolute;
                                  top: 0;
                                  left: 0;
                                  opacity: 0;
                                  transition: all .3s ease-in-out;
                              }
                          }
                          img {
                              transition: all .3s ease-in-out;
                              height: 100%;
                              display: block;
                          }
                      }
                      .gamewiki__tong-hop-item--content {
                          a {
                            white-space: inherit;
                              color: var(--blue-color-tag-a);
                              font-weight: 700;
                          }
                      }
                  }
                  &:hover {
                      .row-divide {
                          .gamewiki__tong-hop-item--feature {
                              a {
                                  &:after {
                                      opacity: 0.8;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}