.post-template-default.single.single-post{
  .header{
    margin-bottom: 0px;
  }
  .page-container{
    background-color: #f2f2f2;
    &>.row-divide >.col-divide-8 {
      padding: 0px;
    }
    .col-divide-6{
      flex: 0 0 52%;
      max-width: 52%;
    }
    .single__page-content{
      padding-bottom: 30px;
      padding-top: 15px;
      border-top: 1px solid #e7e7e7;
      h2{
        background-color: var(--primary-color);
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        margin: 20px 0 10px;
        text-align: left;
        padding: 10px 16px;
      }
      h3{
        margin: 10px 0 15px;
        color: #38434b;
        padding: 5px 0 5px 10px;
        border-left: 6px solid #38434b;
        border-bottom: 1px solid #d4d4d4;
        font-size: 15px;
      }
      img{
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 5px;
        padding: 5px 15px;
      }
      .wp-caption-text{
        text-align: center;
        font-size: 13px;
        font-style: italic;
      }
      table{
        width: 100%;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        td, th{
          padding: 15px 5px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          border-radius: 2px;
        }
        thead{
          color: var(--primary-color);
          tr{
            border-bottom: none;
          }
        }
        tbody{
          &>tr:nth-child(odd){
            background-color: rgba(242,242,242,0.5)
          }
        }
      }
      ul{
        padding-left: 30px;
        padding-bottom: 12px;
        list-style: none;
        li{
          position: relative;
          &::after{
            content: "•";
            display: block;
            font-size: 20px;
            position: absolute;
            left: -16px;
            top: 0px;
            color: var(--primary-color);
          }
        }
      }
    }
  }
  .menuCategory{
    .menuCategory__contain{
      .title--section{
        background: #38434b;
        color: #fff;
        padding: 5px 5px 5px 10px;
        font-size: 18px;
      }
      .menuCategory__list{
        .menuCategory__item{
          background-color: #fff;
          color: #2d8acb;
          transition: .3s;
          display: block;
          font-size: 15px;
          padding: 7px 8px 9px;
          overflow: hidden;
          width: 100%;
          border-top: 1px solid #cbdff9;
          &:nth-child(1){
            border-top: unset;
          }
        }
      }
    }
  }
}
