.categoryList{
  .categoryList__contain{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    .term__link{
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 17px;
      margin: 5px 10px;
    }
  }
}
