.page-container {
    @include MediaQuery ($xs) {
        padding: 0;
        .container {
            max-width: 100%;
        }
    }
}

.gamewiki__trang-tong-hop {
    .gamewiki__post-tong-hop {
        border: 1px solid #cfcfcf;
        border-bottom: 0;
        margin-bottom: 10px;
        .col-divide-10 {
            max-width: 85%;
            flex: 0 0 85%;
        }
        .col-divide-sm-8 {
            flex: auto;
            max-width: 65%;
        }
        &--title {
            text-align: center;
            color: #333;
            background: #eaeaea;
            font-weight: 500;
            padding: 5px;
        }
        &-item {
            padding: 8px;
            border-bottom: 1px solid #cfcfcf;
            .gamewiki__tong-hop-item--feature {
                .ranking-post {
                    top: -10%;
                    left: 0;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    color: #fff;
                    &-item {
                        @for $i from 1 to 3 {
                            &-#{1} {
                                background: #eebf65;
                            }
                            &-#{2} {
                                background: #8aa8b4;
                            }
                            &-#{3} {
                                background: #e18e4a;
                            }
                        }
                        background:#999696;
                        display:block;
                        border-radius: 50%;
                    }
                    @include MediaQuery ($xs) {
                        width: 20px;
                        height: 20px;
                        &-item {
                            font-size: 15px;
                        }
                    }
                }
                a {
                    img {
                        max-width: 150px;
                        max-height: 75px;
                        margin: 0 auto;
                        display: block;
                    }
                }
            }
            .gamewiki__tong-hop-item--content {
                a {
                    color: var(--blue-color-tag-a);
                    font-weight: 700;
                    @include MediaQuery($xs) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.navigation {
    padding-bottom: 50px;
    .pagination {
        .screen-reader-text {
            display: none;
        }
        .nav-links {
            text-align: center;
            .prev,
            .next {
                display: none;
            }
            .page-numbers {
                font-size: 18px;
                color: #fff;
                padding: 3px 10px;
                background: #fba848;
                &.current {
                    background-color: #ccc;
                }
            }
        }
    }
}