.postList{
    margin-bottom: 30px;
    position: relative;
  .postList__contain{
    .postList__item{
      margin: 0px 15px;
      position: relative;
      &::after{
        background: #21282e82;
        content: "";
        position: absolute;;
        top:0;
        display: block;
        left:0;
        height: 100%;
        width:100%;
        z-index: 10
      }
      .postList__item-title{
        position: absolute;
        bottom: 10px;
        left: 10px;
        transform: translateY(5px);
        transition: all 0.25s ease-in-out;
        z-index: 30;
        &>h3{
          color: #fff;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-height: 1.3;
          max-height: 61px;
        }
      }
      &:hover{
       .postList__item-title{
         transform: translateY(-8px);
       }
      }
    }
  }
  .postList__btn{    
    button.btn{
      background: #21282e00;
      outline-color: transparent;
      color: #fff;
      position: absolute;         
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      &:nth-child(1){
        left: 15px;
      }
      &:nth-child(2){
        right: 15px;
      }
      &:focus,&:hover{
       background: #21282e7a;
       outline: unset;
      }
    }
  }
}
